body{
background:#01012b;
color:white;
font-family:Montserrat;
}

.hero{
text-align:center;
padding-top:120px;
}

.section{
max-width:900px;
margin:100px auto;
text-align:center;
}

.card-grid{
display:flex;
gap:30px;
justify-content:center;
}

.love-card{
width:150px;
height:200px;
background:#111;
display:flex;
align-items:center;
justify-content:center;
border-radius:15px;
}

.music-player{
position:fixed;
bottom:20px;
left:20px;
}